<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" monitorInterval="30">
  <Properties>
    <Property name="console.log.level">OFF</Property>
    <Property name="app.log.name">logs/app.log</Property>
    <Property name="root.log.name">logs/root.log</Property>
    <Property name="app.log.level">debug</Property>
    <Property name="root.log.level">debug</Property>
    <Property name="log.pattern">%d{yyyy-mi-dd HH:mm:ss,SSS} (%t) %-5level %msg%n</Property>
    <Property name="log.file.suffix.pattern">-%d{MM-dd-yyyy}.log</Property>
  </Properties>
  <Appenders>
    
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${log.pattern}" />
    </Console>
    
    <RollingFile name="RollingFileApp" fileName="${app.log.name}" 
                 filePattern="${app.log.name}${log.file.suffix.pattern}"> 
      <PatternLayout pattern="${log.pattern}" />
      <Policies>
			  <TimeBasedTriggeringPolicy/>
			</Policies>
			<DefaultRolloverStrategy max="7"/>
    </RollingFile>
    
    <RollingFile name="RollingFileRoot" fileName="${root.log.name}" 
                 filePattern="${root.log.name}${log.file.suffix.pattern}">
      <PatternLayout pattern="${log.pattern}" />
      <Policies>
			  <TimeBasedTriggeringPolicy/>
			</Policies>
			<DefaultRolloverStrategy max="7"/>
    </RollingFile>
    
  </Appenders>
  
  <Loggers>
    <Logger name="appLogger" level="${app.log.level}" additivity="false">
      <AppenderRef ref="Console" level="${console.log.level}"/>
      <AppenderRef ref="RollingFileApp" />
    </Logger>
  
    <Root level="${root.log.level}" >
      <AppenderRef ref="Console" level="${console.log.level}"/>
      <AppenderRef ref="RollingFileRoot" />
    </Root>
  
  </Loggers>
</Configuration>